<div class="footer">
  <div class="footer__logo">
    <img src="/images/logo-inverted.png" alt="">

  </div>

  <div class="footer__social-icons">

    <div style="background: #555555;">
      <span class="facebook-icon"></span>
    </div>


    <div style="background: #555555;">
      <span class="twitter-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="instagram-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="pinterest-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="linkedin-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="youtube-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="googleplus-icon"></span>
    </div>

  </div>
</div>