<div class="footer">
  <div class="footer__logo">
    {{> atoms-logo-inverted}}
  </div>

  <div class="footer__social-icons">
    {{> atoms-facebook-icon}} {{> atoms-twitter-icon}} {{> atoms-instagram-icon}} {{> atoms-pinterest-icon}} {{> atoms-linkedin-icon}} {{> atoms-youtube-icon}} {{> atoms-google-plus-icon}}
  </div>
</div>