{{>organisms-nav}}
{{>molecules-split-hero}}

<div class="content content--padded">
  <div class="content__header">
    {{>atoms-italic-header}}
  </div>
  {{>organisms-product}}
</div>
{{>molecules-hero}}
{{>molecules-hero}}
{{>organisms-instagram-feed}}
{{>organisms-footer}}

