<table class="checkout-table">
  <thead class="checkout-table__head">
  <tr>
    <th>
      Sku
    </th>
    <th>
      Name
    </th>
    <th>
      Qty
    </th>
    <th>
      Remove
    </th>
  </tr>
  </thead>
  <tbody class="checkout-table__body">
  <tr>
    <td>
      sku
    </td>
    <td>
      <a href="#">name</a>
    </td>
    <td>
      <form method="post" action="">
        <select>
          <option value="1">1</option>
        </select>
      </form>
    </td>
    <td>
      <form method="post" action="">
        <input type="hidden" value="1" name="">
        <button class="hollow-button" value="1" type="submit" name="">Remove</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      sku
    </td>
    <td>
      <a href="#">name</a>
    </td>
    <td>
      <form method="post" action="">
        <select>
          <option value="1">1</option>
        </select>
      </form>
    </td>
    <td>
      <form method="post" action="">
        <input type="hidden" value="1" name="">
        <button class="hollow-button" value="{{sku}}" type="submit" name="">Remove</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
