<div class="instagram-feed">
  <div class="instagram-feed__header">
    {{>atoms-header}}
    </div>
    {{>templates-grid-6-2}}
  <div class="instagram-feed__cta">
    {{> atoms-hollow-button}}
  </div>

</div>
