
<div class="nav">
  <a href="#" class="nav__logo-link">{{> atoms-logo}}</a>
  <button class="nav-toggle"></button>
  <ul class="nav-list">
    <li class="nav__item">
      <a href="#" class="nav__item-link">{{> atoms-uppercase-text}}</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">{{> atoms-uppercase-text}}</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">{{> atoms-uppercase-text}}</a>
    </li>
    <li class="nav__item nav__item--center">
      <a href="#" class="nav__item-link">{{> atoms-logo}}</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">{{> atoms-uppercase-text}}</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">{{> atoms-uppercase-text}}</a>
    </li>
    <li class="nav__item nav__item--active">
      <a href="#" class="nav__item-link">{{> atoms-uppercase-text}}</a>
    </li>
  </ul>
</div>

<script src="/js/nav.js"></script>
