<div class="orchard">
  <div class="orchard__header">
    {{>atoms-header}}
  </div>
  <div class="row row--wrap orchard__row">
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">
      <span class="tree-number">002</span>
      {{>atoms-tree-icon}}
      <div class="tree-name">
        {{>atoms-italic-small-text}}
      </div>
      <div class="tree-availability tree-availability--unavailable">
        UNAVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">003</span>
      {{>atoms-tree-icon}}
      <div class="tree-name">
        {{>atoms-italic-small-text}}
      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      {{>atoms-tree-icon}}
      <div class="tree-name">
        {{>atoms-italic-small-text}}
      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      {{>atoms-tree-icon}}
      <div class="tree-name">
        {{>atoms-italic-small-text}}
      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      {{>atoms-tree-icon}}
      <div class="tree-name">
        {{>atoms-italic-small-text}}
      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      {{>atoms-tree-icon}}
      <div class="tree-name">
        {{>atoms-italic-small-text}}
      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      {{>atoms-tree-icon}}
      <div class="tree-name">
        {{>atoms-italic-small-text}}
      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
  </div>
</div>
