<div class="product" tabindex="0">
  <div class="card">
    <div class="card-content">
      <div class="card-content__header">
        <h1 class="italic-header">Few steps from the lake</h1>
      </div>
      <div class="card-image">
        {{> atoms-square-image }}

      </div>
      <div class="card-content__text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.
      </div>
    </div>

    <div class="product__ctas">
      <div class="product__cta">
        {{> atoms-hollow-button }}
      </div>
      <div class="product__cta">
        {{> atoms-hollow-button }}
      </div>
    </div>
  </div>
</div>
