<div class="product-list">
  <div class="row row--wrap product-list__row">
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
    <div class="col-25 product__column">
      {{>molecules-card}}
    </div>
  </div>
</div>
