{{>organisms-nav}} {{>molecules-split-hero}}
<div class="content">
  <div class="content__header">
    {{>atoms-serif-header}}
  </div>
  {{>organisms-product-list}}
</div>
{{>molecules-hero}} {{>molecules-hero}} {{>organisms-footer}}