<ul class="grid-6-2">
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-6-2__item">
    {{>atoms-square-image}}
  </li>
</ul>