<ul class="grid-6-2">
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-6-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
</ul>