<div class="nav">
  <a href="#" class="nav__logo-link"><img src="/images/logo.png" alt="" class="logo">
</a>
  <button class="nav-toggle"></button>
  <ul class="nav-list">
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item nav__item--center">
      <a href="#" class="nav__item-link"><img src="/images/logo.png" alt="" class="logo">
</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item nav__item--active">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
  </ul>
</div>

<script src="/js/nav.js"></script>