<div class="orchard">
  <div class="orchard__header">
    <h1 class="header">APPARTAMENT "riva del lago"</h1>

  </div>
  <div class="row row--wrap orchard__row">
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">
      <span class="tree-number">002</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability tree-availability--unavailable">
        UNAVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">003</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
  </div>
</div>