<div class="row row--center col-1-layout">
  <div class="col-60 col">
    Our groves are situated in the heart of the area that belonged to the ancient Etruscan civilization, Tuscia, very close to Vetralla, a little town that has always had strong connections with the culture and traditions of olive-growing and olive oil, located
    in a central position of the Tuscia Protected Designation of Origin district – TUSCIA P.D.OOf volcanic origin, the soil is rich in minerals that are particularly suited to olive-growing, and our groves are positioned on soft hills at an altitude of
    approximately 280 meters above sea level, with an excellent south-western exposure and an overall extension of 20 hectares. The more than 2,500 olive trees, some of which are more than a hundred years old, are arranged at a distance of at least 6
    meters from each other, the perfect space that allows fronds to be aired and to take full advantage of the sunlight. The plants are divided into sectors based on the cultivar (variety of olive tree). This set-up makes it possible to selectively harvest
    the fruit, ideal for finding a perfect balance for the production of our Extra Virgin Olive Oils. The fruit from our Canino, Frantoio and Leccino olive plants, the most widespread varieties in Tuscia, and from the Moraiolo and Maurino plants, skillfully
    combined in the right proportions, render an Extra Virgin Olive Oil with a rich and unique taste.
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </div>
</div>