<div class="product-list">
  <div class="row row--wrap product-list__row">
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
    <div class="col-25 product__column">
      <div class="card">

        <div class="card-content">
          <div class="card-content__header">
            <h1 class="italic-header">Few steps from the lake</h1>

          </div>
          <div class="card-image">
            <div class="image-square">
              <img src="/images/product.png" alt="">
            </div>

          </div>
          <div class="card-content__text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="card-content__cta">
            <button class="hollow-button">Learn More</button>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>