  <div class="card">

    <div class="card-content">
      <div class="card-content__header">
        {{> atoms-italic-header }}
      </div>
      <div class="card-image">
        {{> atoms-square-image }}
      </div>
      <div class="card-content__text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="card-content__cta">
        {{> atoms-hollow-button }}
      </div>
    </div>

  </div>

