<div class="hero">
  {{> atoms-image-16-8 }}
  <div class="hero-content">
    <div class="hero-content-first-line">
      {{> atoms-header }}
    </div>
    {{> atoms-italic-header }}
    <div class="hero-content-cta">
      {{> atoms-hollow-button }}
    </div>

  </div>
</div>

