<div class="pagination">
  {{> atoms-pagination-point-active }}
  {{> atoms-pagination-point-inactive }}
  {{> atoms-pagination-point-inactive }}
  {{> atoms-pagination-point-inactive }}
  {{> atoms-pagination-point-inactive }}
</div>

