<div class="route-info route-info--visible">
 <div class="route-content-top">
   <div class="route-info__name">Route1 KM 35</div>
   <div class="route-info__row">
     <div class="route-info__title">Start</div>
     <div class="route-info__content--inline"></div>
   </div>
   <div class="route-info__row">
     <div class="route-info__title">Finish</div>
     <div class="route-info__content--inline"></div>
   </div>
   <div class="route-info__row route-info__description">
     <div class="route-info__title">Description</div>
     <div class="route-info__content"></div>
   </div>
 </div>


  <div class="route-content-bottom">
    <div class="route-info__row">
      <div class="route-info__title">Cycling</div>
    </div>
    <div class="route-info__row">
      <div class="route-info__title">Hiking</div>
    </div>
    <div class="route-info__row">
      <div class="route-info__title">Sailing</div>
    </div>
  </div>
</div>
