html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: arial, sans-serif;
  line-height: 18px; }
  @media (max-width: 600px) {
    body {
      margin-top: 80px; } }

img {
  max-width: 100%; }

.content__header {
  text-align: center;
  padding: 2em; }
  .content__header > * {
    display: inline-block; }

.content--padded {
  padding: 2em 10em; }
  @media (max-width: 960px) {
    .content--padded {
      padding: 2em; } }

.product-grid {
  display: flex;
  flex-wrap: wrap; }
  .product-grid__item {
    flex-basis: 25%;
    padding: .5em; }

.grid-6-2 {
  display: flex;
  flex-wrap: wrap; }
  .grid-6-2__item {
    flex-basis: 16.6666667%;
    padding: .2em;
    min-width: 8em;
    flex-grow: 1; }

.grid-3-2 {
  display: flex;
  flex-wrap: wrap; }
  .grid-3-2__item {
    flex-basis: 33.3333333%;
    padding: .2em; }

.row {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 10em; }
  .row--center {
    justify-content: center; }
  .row--wrap {
    flex-wrap: wrap; }

.col-10 {
  position: relative;
  padding: 10px;
  width: 10%;
  text-align: center; }

.col-5 {
  position: relative;
  padding: 5px;
  width: 5%;
  text-align: center; }

.col-20 {
  position: relative;
  padding: 10px;
  width: 20%;
  text-align: center; }

.col-10 {
  position: relative;
  padding: 5px;
  width: 10%;
  text-align: center; }

.col-30 {
  position: relative;
  padding: 10px;
  width: 30%;
  text-align: center; }

.col-15 {
  position: relative;
  padding: 5px;
  width: 15%;
  text-align: center; }

.col-40 {
  position: relative;
  padding: 10px;
  width: 40%;
  text-align: center; }

.col-20 {
  position: relative;
  padding: 5px;
  width: 20%;
  text-align: center; }

.col-50 {
  position: relative;
  padding: 10px;
  width: 50%;
  text-align: center; }

.col-25 {
  position: relative;
  padding: 5px;
  width: 25%;
  text-align: center; }

.col-60 {
  position: relative;
  padding: 10px;
  width: 60%;
  text-align: center; }

.col-30 {
  position: relative;
  padding: 5px;
  width: 30%;
  text-align: center; }

.col-70 {
  position: relative;
  padding: 10px;
  width: 70%;
  text-align: center; }

.col-35 {
  position: relative;
  padding: 5px;
  width: 35%;
  text-align: center; }

.col-80 {
  position: relative;
  padding: 10px;
  width: 80%;
  text-align: center; }

.col-40 {
  position: relative;
  padding: 5px;
  width: 40%;
  text-align: center; }

.col-90 {
  position: relative;
  padding: 10px;
  width: 90%;
  text-align: center; }

.col-45 {
  position: relative;
  padding: 5px;
  width: 45%;
  text-align: center; }

.col-100 {
  position: relative;
  padding: 10px;
  width: 100%;
  text-align: center; }

.col-50 {
  position: relative;
  padding: 5px;
  width: 50%;
  text-align: center; }

@media (max-width: 600px) {
  .col-2-layout {
    padding: 1em; } }

@media (max-width: 960px) {
  .col-2-layout > .col {
    width: 100%; } }

@media (max-width: 600px) {
  .col-1-layout {
    padding: 1em; } }

@media (max-width: 960px) {
  .col-1-layout > .col {
    width: 100%; } }

.facebook-icon {
  display: block;
  background: url("/images/social-icons.png") no-repeat 0 -3px;
  width: 35px;
  height: 34px; }

.twitter-icon {
  display: block;
  background: url("/images/social-icons.png") no-repeat -58px -6px;
  width: 34px;
  height: 28px; }

.instagram-icon {
  display: block;
  background: url("/images/social-icons.png") no-repeat -115px -3px;
  width: 34px;
  height: 34px; }

.pinterest-icon {
  display: block;
  background: url("/images/social-icons.png") no-repeat -173px 0;
  width: 32px;
  height: 39px; }

.linkedin-icon {
  display: block;
  background: url("/images/social-icons.png") no-repeat -231px -6px;
  width: 30px;
  height: 29px; }

.youtube-icon {
  display: block;
  background: url("/images/social-icons.png") no-repeat -286px -7px;
  width: 35px;
  height: 25px; }

.googleplus-icon {
  display: block;
  background: url("/images/social-icons.png") no-repeat -344px -7px;
  width: 32px;
  height: 23px; }

@font-face {
  font-family: telegrafico;
  src: url("/fonts/telegrafico.ttf");
  font-weight: normal; }

@font-face {
  font-family: garmond-italic;
  src: url("/fonts/Adobe_Garamond_Pro/AGaramondPro-Italic.otf");
  font-weight: normal; }

@font-face {
  font-family: garmond;
  src: url("/fonts/Adobe_Garamond_Pro/AGaramondPro-Regular.otf");
  font-weight: normal; }

@font-face {
  font-family: arial;
  src: url("/fonts/Arial/arial.ttf");
  font-weight: normal; }

@font-face {
  font-family: arial;
  src: url("/fonts/Arial/arialbd.ttf");
  font-weight: bold; }

@font-face {
  font-family: arial-italic;
  src: url("/fonts/Arial/arialbi.ttf");
  font-weight: bold; }

@font-face {
  font-family: arial-italic;
  src: url("/fonts/Arial/ariali.ttf");
  font-weight: normal; }

@font-face {
  font-family: arial-k;
  src: url("/fonts/Arial/ariblk.ttf");
  font-weight: normal; }

.tab {
  height: 50px;
  min-width: 100px;
  line-height: 50px;
  background: #1f1f1f;
  color: #868686;
  border-right: 2px solid #868686;
  padding: 0 .5em;
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  flex-grow: 1; }
  .tab:hover {
    background: #393939; }
  .tab:active {
    background: #525252; }

.image-16-8 {
  position: relative;
  overflow: hidden;
  max-width: 100%; }
  .image-16-8:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .image-16-8 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .image-16-8 img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto; }

.image-3-1 {
  position: relative;
  overflow: hidden;
  max-width: 100%; }
  .image-3-1:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 28.57143%; }
  .image-3-1 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .image-3-1 img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto; }

.image-square {
  position: relative;
  overflow: hidden;
  max-width: 100%; }
  .image-square:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .image-square > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .image-square img {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%); }

.header {
  font-family: telegrafico, sans-serif;
  font-weight: normal;
  margin: 10px 0;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 24px; }
  @media (max-width: 600px) {
    .header {
      font-size: 20px;
      line-height: 18px; } }
  @media (max-width: 400px) {
    .header {
      margin: 5px 0;
      font-size: 17px; } }

.italic-header {
  font-family: garmond-italic, serif;
  margin: 10px 0;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: normal;
  text-transform: none; }
  @media (max-width: 600px) {
    .italic-header {
      font-size: 20px;
      line-height: 18px; } }
  @media (max-width: 400px) {
    .italic-header {
      margin: 5px 0;
      font-size: 17px; } }

.button {
  background-color: #c5e09b;
  border: 2px solid #c5e09b;
  font-family: arial, sans-serif;
  font-weight: normal;
  color: #FFF;
  height: 30px;
  width: 150px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase; }
  @media (max-width: 600px) {
    .button {
      width: 130px; } }

.underline {
  border-bottom: 1px solid; }

.bordered-box {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #e7e7e7; }

.thick-bordered-box {
  min-width: 50px;
  min-height: 50px;
  border: 3px solid #e7e7e7;
  border-radius: 4px; }

#map {
  margin: 0;
  position: relative;
  overflow: hidden;
  max-width: 100%; }
  #map:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  #map > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none; }

.gmnoprint div {
  background: none !important; }

.serif-header {
  font-family: garmond, serif;
  margin: 10px 0;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: normal; }
  @media (max-width: 600px) {
    .serif-header {
      font-size: 20px;
      line-height: 18px; } }
  @media (max-width: 400px) {
    .serif-header {
      margin: 5px 0;
      font-size: 17px; } }

.leaf-header {
  position: relative;
  font-family: garmond, serif;
  margin: 10px 0;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: normal;
  padding: 0.5em 4em;
  text-align: center;
  background: url("/images/left-leaf.png") no-repeat left, url("/images/right-leaf.png") no-repeat right;
  height: 65px; }
  @media (max-width: 600px) {
    .leaf-header {
      font-size: 20px;
      line-height: 18px; } }
  @media (max-width: 400px) {
    .leaf-header {
      margin: 5px 0;
      font-size: 17px; } }
  .leaf-header:after {
    content: '';
    position: absolute;
    width: calc(100% - 8em);
    height: 100%;
    border-bottom: 1px solid #000;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  @media (max-width: 600px) {
    .leaf-header {
      padding: 0;
      background: none;
      height: initial; }
      .leaf-header:after {
        display: none; } }

.hollow-button {
  background: transparent;
  border: 2px solid #000;
  font-family: arial, sans-serif;
  font-weight: normal;
  color: #000;
  height: 30px;
  width: 150px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase; }
  @media (max-width: 600px) {
    .hollow-button {
      width: 130px; } }
  .hollow-button:hover {
    background-color: #c5e09b;
    border: 2px solid #c5e09b;
    font-family: arial, sans-serif;
    font-weight: normal;
    color: #FFF;
    height: 30px;
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase; }
    @media (max-width: 600px) {
      .hollow-button:hover {
        width: 130px; } }

.italic-small-text {
  font-size: 11px;
  font-family: arial, sans-serif;
  font-weight: normal;
  font-family: garmond, serif;
  font-style: italic; }

.italic-bold-text {
  font-size: 15px;
  font-family: garmond, serif;
  font-weight: normal;
  font-style: italic;
  font-weight: bold; }

.bold-text {
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.uppercase-text {
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

.small-text {
  font-size: 11px;
  font-family: arial, sans-serif;
  font-weight: normal; }

.italic-text {
  font-size: 15px;
  font-family: garmond, serif;
  font-weight: normal;
  font-style: italic; }

.tabs {
  display: flex;
  flex-wrap: wrap; }

.card {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #e7e7e7; }
  .card:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 212.5%; }
  .card > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px; }

.card-content__header {
  text-align: center;
  padding-bottom: 10px; }
  .card-content__header * {
    font-size: 20px; }

.card-content__text {
  text-align: center;
  padding: 20px 5px; }

.card-content__cta {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px; }

.hero {
  position: relative;
  color: #fff; }

.hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 2em; }
  @media (max-width: 400px) {
    .hero-content {
      margin-bottom: 10px; } }
  .hero-content-first-line {
    margin-bottom: 20px; }
    @media (max-width: 600px) {
      .hero-content-first-line {
        margin-bottom: 10px;
        padding: 0 1em; } }
  .hero-content-cta {
    margin-top: 40px; }
    @media (max-width: 600px) {
      .hero-content-cta {
        margin-top: 10px; } }
    .hero-content-cta * {
      color: #fff;
      border-color: #fff; }

.meta-group {
  padding: 10px 0; }

.split-hero-top {
  position: relative;
  color: #fff; }
  .split-hero-top__content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center; }

.welcome {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background: #ececec url("/images/watermark.png") no-repeat center;
  background-size: 17%; }
  .welcome:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 28.57143%; }
  .welcome > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .split-hero-bottom__content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 15%;
    color: #5e584a; }

.instagram-feed {
  padding: 5em 12em 2em; }
  @media (max-width: 960px) {
    .instagram-feed {
      padding: 2em 3em 2em; } }
  @media (max-width: 600px) {
    .instagram-feed {
      padding: 2em 1em 2em; } }

.instagram-feed__header {
  padding-bottom: 5em;
  text-align: center; }
  @media (max-width: 600px) {
    .instagram-feed__header {
      padding-bottom: 2em; } }

.instagram-feed__cta {
  text-align: center;
  padding-top: 2em; }

.orchard {
  padding: 5em 0; }

.orchard__header {
  text-align: center;
  padding-bottom: 3em; }

.orchard__row {
  justify-content: center; }
  @media (max-width: 960px) {
    .orchard__row {
      padding: 0 5em; } }
  @media (max-width: 600px) {
    .orchard__row {
      padding: 0 2em; } }

.tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 7em; }
  @media (max-width: 600px) {
    .tree {
      min-width: 10em; } }

.tree-number {
  font-size: 10px; }

.tree-availability {
  color: #40b400;
  font-size: 12px; }
  .tree-availability--unavailable {
    color: #ff0000; }

.product-list__row {
  justify-content: center; }
  @media (max-width: 960px) {
    .product-list__row {
      padding: 0 2em; } }
  @media (max-width: 600px) {
    .product-list__row {
      padding: 0; } }

.product__column {
  max-width: 15em;
  min-width: 13em; }
  @media (max-width: 600px) {
    .product__column {
      width: 50%; } }
  @media (max-width: 400px) {
    .product__column {
      width: 100%; } }

.product-list {
  padding-bottom: 2em; }

.product-inner {
  display: flex;
  flex-wrap: wrap; }

.product__image {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #e7e7e7;
  vertical-align: top;
  width: 50%;
  padding: 10px;
  display: inline-block; }
  .product__image img {
    max-width: initial; }
  .product__image .image-square {
    height: 100%; }
  @media (max-width: 600px) {
    .product__image {
      width: 100%; } }

.product__content-description {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.product__cta {
  padding: 1em 0; }

.product__content {
  width: 50%;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .product__content {
      width: 100%; } }

.product__content-meta {
  text-align: center;
  padding: 10px;
  background: #eeeeee;
  position: relative; }

.footer {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  overflow: visible;
  background: #545454;
  border-top: 4px solid #fe0a0a;
  margin-top: 0.5em; }
  .footer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 6.25%; }
  .footer > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media (max-width: 600px) {
    .footer {
      display: flex; } }
  .footer:after {
    content: '';
    position: absolute;
    top: -12px;
    width: 100%;
    border-top: 4px solid #00a249;
    border-bottom: 4px solid #fff;
    height: 0; }
  .footer__social-icons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4em;
    right: 1em;
    width: 19em;
    justify-content: space-between; }
    @media (max-width: 600px) {
      .footer__social-icons {
        flex-direction: column;
        top: 50%;
        left: 1em;
        width: auto;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        transform: translateY(-50%);
        right: inherit; } }
  .footer__logo {
    padding: 3em 4em;
    height: 18em; }
    .footer__logo > img {
      width: auto;
      height: 100%; }
    @media (max-width: 600px) {
      .footer__logo {
        padding: 1em;
        height: 18em;
        margin-left: 50px; }
        .footer__logo > img {
          width: auto;
          height: auto; } }

.nav__item-link:before, .nav__item-link:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  transition: .25s; }

.nav__item:before, .nav__item:after {
  content: '';
  position: absolute;
  height: 0;
  width: 100%;
  transition: .25s; }

.nav-list {
  position: relative;
  list-style: none;
  display: flex;
  padding: 2em 10em 3em;
  margin: 0;
  align-items: baseline;
  justify-content: space-around; }
  @media (max-width: 960px) {
    .nav-list {
      padding: 1em 2em 2em; } }
  @media (max-width: 600px) {
    .nav-list {
      background: #fff;
      display: none;
      flex-direction: column; }
      .nav-list .nav__item--center {
        display: none; } }

.nav {
  position: relative;
  border-bottom: 4px solid #fe0a0a; }
  .nav:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-top: 4px solid #00a249;
    border-bottom: 4px solid #fff;
    height: 0; }
  .nav__item-link {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    display: block;
    position: relative;
    z-index: 1; }
    .nav__item-link > .logo {
      margin-bottom: -20px; }
    .nav__item-link:before {
      border-top: 1px solid #000;
      left: 0; }
    .nav__item-link:after {
      border-bottom: 1px solid #000;
      right: 0; }
  .nav__item {
    position: relative; }
    .nav__item:before {
      border-left: 1px solid #000;
      bottom: 0;
      left: 0; }
    .nav__item:after {
      border-right: 1px solid #000;
      top: 0;
      right: 0; }
    .nav__item:not(.nav__item--center):hover:before, .nav__item--active:before {
      height: 100%; }
    .nav__item:not(.nav__item--center):hover:after, .nav__item--active:after {
      height: 100%; }
    .nav__item:not(.nav__item--center):hover .nav__item-link:before, .nav__item--active .nav__item-link:before {
      width: 100%; }
    .nav__item:not(.nav__item--center):hover .nav__item-link:after, .nav__item--active .nav__item-link:after {
      width: 100%; }
  .nav__logo-link {
    display: none; }
  @media (max-width: 600px) {
    .nav {
      height: 80px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background: #fff; }
      .nav__logo-link {
        display: inline-block;
        height: 100%;
        padding: .5em .5em 1em;
        box-sizing: border-box; }
        .nav__logo-link > img {
          width: auto;
          height: 100%; } }
  .nav-toggle {
    position: absolute;
    background: transparent;
    cursor: pointer;
    top: 1.5em;
    right: 1em;
    width: 25px;
    height: 20px;
    border: 0;
    outline: none;
    display: none; }
    @media (max-width: 600px) {
      .nav-toggle {
        display: block; } }
  .nav-toggle:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 0;
    left: 0;
    box-shadow: 0 9px 0 0 #000;
    transition: .25s;
    transition-timing-function: ease-out; }
  .nav-toggle:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: .25s;
    transition-timing-function: ease-out; }
  .nav--active .nav-toggle {
    height: 25px; }
  .nav--active .nav-list {
    display: block; }
  .nav--active .nav-toggle:before {
    transform: rotate(-388deg);
    transform-origin: right; }
  .nav--active .nav-toggle:after {
    transform: rotate(388deg);
    transform-origin: right; }
  .nav--active .nav-toggle:before {
    box-shadow: 0 14px 0 0 rgba(255, 255, 255, 0); }
