.row {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 10em;
  &--center {
    justify-content: center;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}

@for $i from 1 through 10 {
  $count: $i*10;
  $col-width: percentage($count / 100);
  .col-#{$i*10} {
    position: relative;
    padding: 10px;
    width: $col-width;
    text-align: center;
  }
  .col-#{$i*5} {
    position: relative;
    padding: 5px;
    width: $col-width / 2;
    text-align: center;
  }

}

.col-2-layout {
  @media (max-width: $small-screen) {
    padding: 1em;
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    line-height: 22px;
  }
  > .col {
    @media (max-width: $medium-screen) {
      width: 100%;
    }
  }
  padding-bottom: 20px;
}

.col-1-layout {
  img {
    width: 100%;
    height: auto;
  }
  p {
    line-height: 22px;
  }
  @media (max-width: $small-screen) {
    padding: 1em;
  }
  > .col {
    @media (max-width: $medium-screen) {
      width: 100%;
    }
  }
}
