.grid-3-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 10em;
  @media (max-width: $small-screen) {
    padding: 2em 5em;
  }
  @media (max-width: $xsmall-screen) {
    padding: 2em;
  }
  &__item {
    flex-basis: 33.3333333%;
    padding: .2em;
    min-width: 230px;
    @media (max-width: $xsmall-screen) {
      flex-basis: 100%;
    }
  }
}

