<div class="nav">
  <a href="#" class="nav__logo-link"><img src="/images/logo.png" alt="" class="logo">
</a>
  <button class="nav-toggle"></button>
  <ul class="nav-list">
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item nav__item--center">
      <a href="#" class="nav__item-link"><img src="/images/logo.png" alt="" class="logo">
</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item nav__item--active">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
  </ul>
</div>

<script src="/js/nav.js"></script>

<div class="split-hero">
  <div class="split-hero-top">
    <div class="image-3-1">
      <img src="/images/casale.jpg" alt="" class="parallax">
    </div>

    <div class="split-hero-top__content">
      <div class="hero-content-first-line">
        <h1 class="header">APPARTAMENT "riva del lago"</h1>

      </div>
      <h1 class="italic-header">Few steps from the lake</h1>

    </div>
  </div>
  <div class="welcome">
    <div class="split-hero-bottom__content">
      <h1 class="italic-header">Few steps from the lake</h1>

      <div class="underline"></div>

    </div>
  </div>
</div>

<div class="content">
  <div class="content__header">
    <div class="leaf-header">DISCOVER at the speed of life</div>

  </div>
  <div class="row row--center col-1-layout">
    <div class="col-60 col">
      Our groves are situated in the heart of the area that belonged to the ancient Etruscan civilization, Tuscia, very close to Vetralla, a little town that has always had strong connections with the culture and traditions of olive-growing and olive oil, located
      in a central position of the Tuscia Protected Designation of Origin district – TUSCIA P.D.OOf volcanic origin, the soil is rich in minerals that are particularly suited to olive-growing, and our groves are positioned on soft hills at an altitude
      of approximately 280 meters above sea level, with an excellent south-western exposure and an overall extension of 20 hectares. The more than 2,500 olive trees, some of which are more than a hundred years old, are arranged at a distance of at least
      6 meters from each other, the perfect space that allows fronds to be aired and to take full advantage of the sunlight. The plants are divided into sectors based on the cultivar (variety of olive tree). This set-up makes it possible to selectively
      harvest the fruit, ideal for finding a perfect balance for the production of our Extra Virgin Olive Oils. The fruit from our Canino, Frantoio and Leccino olive plants, the most widespread varieties in Tuscia, and from the Moraiolo and Maurino plants,
      skillfully combined in the right proportions, render an Extra Virgin Olive Oil with a rich and unique taste.
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </div>
  </div>

  <div class="row row--center col-1-layout">
    <div class="col-60 col">
      Our groves are situated in the heart of the area that belonged to the ancient Etruscan civilization, Tuscia, very close to Vetralla, a little town that has always had strong connections with the culture and traditions of olive-growing and olive oil, located
      in a central position of the Tuscia Protected Designation of Origin district – TUSCIA P.D.OOf volcanic origin, the soil is rich in minerals that are particularly suited to olive-growing, and our groves are positioned on soft hills at an altitude
      of approximately 280 meters above sea level, with an excellent south-western exposure and an overall extension of 20 hectares. The more than 2,500 olive trees, some of which are more than a hundred years old, are arranged at a distance of at least
      6 meters from each other, the perfect space that allows fronds to be aired and to take full advantage of the sunlight. The plants are divided into sectors based on the cultivar (variety of olive tree). This set-up makes it possible to selectively
      harvest the fruit, ideal for finding a perfect balance for the production of our Extra Virgin Olive Oils. The fruit from our Canino, Frantoio and Leccino olive plants, the most widespread varieties in Tuscia, and from the Moraiolo and Maurino plants,
      skillfully combined in the right proportions, render an Extra Virgin Olive Oil with a rich and unique taste.
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </div>
  </div>

</div>
<div class="hero">
  <div class="image-16-8">
    <img src="/images/3000-BC-SERIES.jpg" class="parallax" alt="">

  </div>

  <div style="display: none;">
    <script src="/js/parallax.js"></script>
  </div>


  <div class="hero-content">
    <div class="hero-content-first-line">
      <h1 class="header">APPARTAMENT "riva del lago"</h1>

    </div>
    <h1 class="italic-header">Few steps from the lake</h1>

    <div class="hero-content-cta">
      <button class="hollow-button">Learn More</button>

    </div>

  </div>
</div>


<div class="hero">
  <div class="image-16-8">
    <img src="/images/3000-BC-SERIES.jpg" class="parallax" alt="">

  </div>

  <div style="display: none;">
    <script src="/js/parallax.js"></script>
  </div>


  <div class="hero-content">
    <div class="hero-content-first-line">
      <h1 class="header">APPARTAMENT "riva del lago"</h1>

    </div>
    <h1 class="italic-header">Few steps from the lake</h1>

    <div class="hero-content-cta">
      <button class="hollow-button">Learn More</button>

    </div>

  </div>
</div>


<div class="instagram-feed">
  <div class="instagram-feed__header">
    <h1 class="header">APPARTAMENT "riva del lago"</h1>

  </div>
  <ul class="grid-6-2">
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
  </ul>

  <div class="instagram-feed__cta">
    <button class="hollow-button">Learn More</button>

  </div>

</div>

<div class="footer">
  <div class="footer__logo">
    <img src="/images/logo-inverted.png" alt="">

  </div>

  <div class="footer__social-icons">

    <div style="background: #555555;">
      <span class="facebook-icon"></span>
    </div>


    <div style="background: #555555;">
      <span class="twitter-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="instagram-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="pinterest-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="linkedin-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="youtube-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="googleplus-icon"></span>
    </div>

  </div>
</div>