{{>organisms-nav}} {{>molecules-split-hero}}
<div class="content">
  <div class="content__header">
    {{>atoms-leaf-header}}
  </div>
  {{> templates-col-1}} {{> templates-col-1}}
</div>
{{>molecules-hero}} {{>molecules-hero}} {{>organisms-instagram-feed}} {{>organisms-footer}}