<div class="nav">
  <a href="#" class="nav__logo-link"><img src="/images/logo.png" alt="" class="logo">
</a>
  <button class="nav-toggle"></button>
  <ul class="nav-list">
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item nav__item--center">
      <a href="#" class="nav__item-link"><img src="/images/logo.png" alt="" class="logo">
</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
    <li class="nav__item nav__item--active">
      <a href="#" class="nav__item-link">
        <div class="uppercase-text">
          Our Story
        </div>
      </a>
    </li>
  </ul>
</div>

<script src="/js/nav.js"></script>

<div class="split-hero">
  <div class="split-hero-top">
    <div class="image-3-1">
      <img src="/images/casale.jpg" alt="" class="parallax">
    </div>

    <div class="split-hero-top__content">
      <div class="hero-content-first-line">
        <h1 class="header">APPARTAMENT "riva del lago"</h1>

      </div>
      <h1 class="italic-header">Few steps from the lake</h1>

    </div>
  </div>
  <div class="welcome">
    <div class="split-hero-bottom__content">
      <h1 class="italic-header">Few steps from the lake</h1>

      <div class="underline"></div>

    </div>
  </div>
</div>

<div class="orchard">
  <div class="orchard__header">
    <h1 class="header">APPARTAMENT "riva del lago"</h1>

  </div>
  <div class="row row--wrap orchard__row">
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">
      <span class="tree-number">002</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability tree-availability--unavailable">
        UNAVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">003</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">

    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
    <div class="col-20 tree">
      <span class="tree-number">005</span>
      <img src="/images/tree.png" alt="" class="tree-icon">

      <div class="tree-name">
        <div class="italic-small-text">
          Quality
        </div>

      </div>
      <div class="tree-availability">
        AVAILABLE
      </div>
    </div>
  </div>
</div>

<div class="hero">
  <div class="image-16-8">
    <img src="/images/3000-BC-SERIES.jpg" class="parallax" alt="">

  </div>

  <div style="display: none;">
    <script src="/js/parallax.js"></script>
  </div>


  <div class="hero-content">
    <div class="hero-content-first-line">
      <h1 class="header">APPARTAMENT "riva del lago"</h1>

    </div>
    <h1 class="italic-header">Few steps from the lake</h1>

    <div class="hero-content-cta">
      <button class="hollow-button">Learn More</button>

    </div>

  </div>
</div>


<div class="hero">
  <div class="image-16-8">
    <img src="/images/3000-BC-SERIES.jpg" class="parallax" alt="">

  </div>

  <div style="display: none;">
    <script src="/js/parallax.js"></script>
  </div>


  <div class="hero-content">
    <div class="hero-content-first-line">
      <h1 class="header">APPARTAMENT "riva del lago"</h1>

    </div>
    <h1 class="italic-header">Few steps from the lake</h1>

    <div class="hero-content-cta">
      <button class="hollow-button">Learn More</button>

    </div>

  </div>
</div>


<div class="instagram-feed">
  <div class="instagram-feed__header">
    <h1 class="header">APPARTAMENT "riva del lago"</h1>

  </div>
  <ul class="grid-6-2">
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
  </ul>

  <div class="instagram-feed__cta">
    <button class="hollow-button">Learn More</button>

  </div>

</div>

<div class="footer">
  <div class="footer__logo">
    <img src="/images/logo-inverted.png" alt="">

  </div>

  <div class="footer__social-icons">

    <div style="background: #555555;">
      <span class="facebook-icon"></span>
    </div>


    <div style="background: #555555;">
      <span class="twitter-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="instagram-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="pinterest-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="linkedin-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="youtube-icon"></span>
    </div>

    <div style="background: #555555;">
      <span class="googleplus-icon"></span>
    </div>

  </div>
</div>