<div class="product">
  <div class="product-inner">
    <div class="product__image">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </div>
    <div class="product__content">
      <div class="product__content-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eius est ex expedita fuga, labore laudantium magni maiores maxime non obcaecati optio possimus, ratione rem repellat temporibus tenetur velit!
        <div class="product__cta">
          <button class="button">Learn More</button>

        </div>
      </div>
      <div class="product__content-meta">
        <div class="meta">
          <div class="meta-group">
            <div class="bold-text">
              Quality
            </div>

            <div class="small-text">
              Quality
            </div>

          </div>

          <div class="meta-group">
            <div class="bold-text">
              Quality
            </div>

            <div class="small-text">
              Quality
            </div>

          </div>

          <div class="meta-group">
            <div class="bold-text">
              Quality
            </div>

            <div class="small-text">
              Quality
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>