<div class="product">
  <div class="product-inner">
    <div class="product__image">
      {{> atoms-square-image }}
    </div>
    <div class="product__content">
      <div class="product__content-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eius est ex expedita fuga, labore laudantium magni maiores maxime non obcaecati optio possimus, ratione rem repellat temporibus tenetur velit!
        <div class="product__cta">
          {{> atoms-button}}
        </div>
      </div>
      <div class="product__content-meta">
        {{> molecules-meta }}
      </div>
    </div>
  </div>
</div>