<div class="instagram-feed">
  <div class="instagram-feed__header">
    <h1 class="header">APPARTAMENT "riva del lago"</h1>

  </div>
  <ul class="grid-6-2">
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
    <li class="grid-6-2__item">
      <div class="image-square">
        <img src="/images/product.png" alt="">
      </div>

    </li>
  </ul>

  <div class="instagram-feed__cta">
    <button class="hollow-button">Learn More</button>

  </div>

</div>