<div class="hero">
  <div class="image-16-8">
    <img src="/images/3000-BC-SERIES.jpg" class="parallax" alt="">

  </div>

  <div style="display: none;">
    <script src="/js/parallax.js"></script>
  </div>


  <div class="hero-content">
    <div class="hero-content-first-line">
      <h1 class="header">APPARTAMENT "riva del lago"</h1>

    </div>
    <h1 class="italic-header">Few steps from the lake</h1>

    <div class="hero-content-cta">
      <button class="hollow-button">Learn More</button>

    </div>

  </div>
</div>