<div class="tabs">
  <div class="tab">Route 1KM 35</div>

  <div class="tab">Route 1KM 35</div>

  <div class="tab">Route 1KM 35</div>

  <div class="tab">Route 1KM 35</div>

  <div class="tab">Route 1KM 35</div>

</div>