<ul class="grid-3-2">
  <li class="grid-3-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-3-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-3-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-3-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-3-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
  <li class="grid-3-2__item">
    <div class="image-square">
      <img src="/images/product.png" alt="">
    </div>

  </li>
</ul>