<ul class="grid-3-2">
  <li class="grid-3-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-3-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-3-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-3-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-3-2__item">
    {{>atoms-square-image}}
  </li>
  <li class="grid-3-2__item">
    {{>atoms-square-image}}
  </li>
</ul>