.checkout-table {
  table-layout: fixed;
  text-align: center;
  width: calc(100% - 2em);
  margin: 3em 1em;
}

.checkout-table__head {
  border-bottom: 1px solid #bbbaba;
  th {
    padding: 1em;
  }
}

.checkout-table__body {
  td {
    padding: .5em;
    .hollow-button {
      min-width: initial;
      max-width: 100%;
      font-size: 12px;
      padding: .5em;
    }
  }

  tr:nth-child(even) {
    background: rgba(187, 186, 186, 0.1);
  }

  a {
    color: #000;
  }
}
