.footer {
  overflow: visible;
  background: #545454;
  border-top: 4px solid #fe0a0a;
  margin-top: 0.5em;
  z-index: 2;
  position: relative;
  @media (max-width: $small-screen) {
    display: flex;
  }
  &:after {
    content: '';
    position: absolute;
    top: -12px;
    width: 100%;
    border-top: 4px solid #00a249;
    border-bottom: 4px solid #fff;
    height: 0;
  }
  &__social-icons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4em;
    right: 1em;
    width: 19em;
    justify-content: space-between;

    @media (max-width: $small-screen) {
      flex-direction: column;
      top: 50%;
      width: auto;
      justify-content: space-between;
      align-items: center;
      height: 90%;
      transform: translateY(-50%);
    }
  }
  &__logo {
    padding: 3em 4em;
    height: 13em;
    > img {
      width: auto;
      height: 100%;
    }

    @media (max-width: $small-screen) {
      padding: 5em 1em;
      height: 18em;
    }
  }

}
