.instagram-feed {
  padding: 5em 12em 2em;
  @media (max-width: $medium-screen) {
    padding: 2em 3em 2em;
  }
  @media (max-width: $small-screen) {
    padding: 2em 1em 2em;
  }
}

.instagram-feed__header {
  padding-bottom: 5em;
  text-align: center;
  @media (max-width: $small-screen) {
    padding-bottom: 2em;
  }
}


.instagram-feed__cta {
  text-align: center;
  padding-top: 2em;
}

