%hpsudo-line {
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  transition: .25s;
}

%vpsudo-line {
  content: '';
  position: absolute;
  height: 0;
  width: 100%;
  transition: .25s;
}

.nav__cart-count {
  position: absolute;
  z-index: 2;
  top: -1em;
  right: 90%;
  font-size: .7em;
  color: #fff;
  background: #000;
  border-radius: 50%;
  display: flex;
  min-width: 1.5em;
  height: 1.5em;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.nav__cart-link {
  width: 20px;
  position: fixed;
  top: 1em;
  right: 1.5em;
  z-index: 10;
  @media (max-width: $small-screen) {
    top: 1.2em;
    right: 4.5em;
  }
}

.nav-list {
  position: relative;
  list-style: none;
  display: flex;
  padding: 2em 10em;
  margin: 0;
  align-items: baseline;
  justify-content: space-around;
  z-index: 4;
  background: #fff;
  @media (max-width: $medium-screen) {
    padding: 1em 2em 2em;
  }

  @media (max-width: $small-screen) {
    background: #fff;
    display: none;
    flex-direction: column;
    .nav__item--center {
      display: none;
    }
  }

}

.nav {
  position: relative;
  background: #fff;
  border-bottom: 4px solid #fe0a0a;
  z-index: 20;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 4px solid #00a249;
    border-bottom: 4px solid #fff;
    height: 0;
    z-index: 4;
  }

  &__item-link {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    display: block;
    position: relative;
    z-index: 1;
    height: 100%;
    > .logo {
      margin-bottom: -20px;
      max-width: 70px;

    }
    &:before {
      @extend %hpsudo-line;
      border-top: 1px solid #000;
      left: 0;
    }

    &:after {
      @extend %hpsudo-line;
      border-bottom: 1px solid #000;
      right: 0;
    }
  }
  &__item {
    position: relative;

    &:before {
      @extend %vpsudo-line;
      border-left: 1px solid #000;
      bottom: 0;
      left: 0;
    }

    &:after {
      @extend %vpsudo-line;
      border-right: 1px solid #000;
      top: 0;
      right: 0;
    }

    &:not(.nav__item--center):hover, &--active {

      &:before {
        height: 100%;
      }

      &:after {
        height: 100%;
      }

      .nav__item-link:before {
        width: 100%;
      }
      .nav__item-link:after {
        width: 100%;
      }
    }
  }
  &__logo-link {
    display: none;
  }
  @media (max-width: $small-screen) {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;

    &__logo-link {
      display: inline-block;
      height: 100%;
      padding: .5em .5em 1em;
      box-sizing: border-box;
      > img {
        width: auto;
        height: 100%;
      }
    }
  }

  &-toggle {

    background: transparent;
    cursor: pointer;
    top: 1.5em;
    right: 1em;
    width: 25px;
    height: 20px;
    border: 0;
    outline: none;
    transform: translateX(100px);
    transition: .25s;
    z-index: 1;
    position: fixed;
    @media (max-width: $small-screen) {
      position: absolute;
      transform: translateY(0);
      display: block;
    }
  }

  &-toggle:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 0;
    left: 0;
    box-shadow: 0 9px 0 0 #000;
    transition: .25s;
    transition-timing-function: ease-out;
  }
  &-toggle:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: .25s;
    transition-timing-function: ease-out;
  }

  &--active {
    .nav-toggle {
      height: 25px;
    }
    .nav-list {
      @media (max-width: $small-screen) {
        display: block;
      }
    }
  }
  &--active &-toggle:before {
    transform: rotate(-388deg);
    transform-origin: right;
  }

  &--active &-toggle:after {
    transform: rotate(388deg);
    transform-origin: right;
  }

  &--active &-toggle:before {
    box-shadow: 0 14px 0 0 rgba(255, 255, 255, 0);
  }

}

.nav-list--fixed {
  display: flex;
  height: 55px;
  position: fixed;
  top: 0;
  transform: translateY(-100px);
  opacity: 0;
  transition: .25s;
  transition-timing-function: ease-out;
  width: 100%;
  justify-content: space-around;
  padding: 10px 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  .nav__item--center {
    .logo {
      height: 40px;
      position: relative;
      top: -10px;
    }
  }
}

.nav--fixed {
  .nav-list--fixed {
    @media (max-width: $small-screen) {
      display: none;
    }
  }
  &.nav--active {
    .nav-list--fixed {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
