.orchard {
  padding: 5em 0;
}

.orchard__header {
  text-align: center;
  padding-bottom: 3em;
}

.orchard__row {
  justify-content: center;
  @media (max-width: $medium-screen) {
    padding: 0 5em;
  }
  @media (max-width: $small-screen) {
    padding: 0 2em;
  }
}

.tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 7em;
  text-decoration: none;
  color: #000;
  @include cta-overlay(tree);
  .tree__cta * {
    &, &:hover, &:active, &:focus {
      min-width: 160px;
      font-size: 15px;
      display: block;
    }
  }
  @media (max-width: $small-screen) {
    min-width: 10em;
  }
}

.tree-number {
  font-size: 10px;
}

.tree-availability {
  color: #40b400;
  font-size: 12px;
  &--unavailable {
    color: #ff0000;
  }
}
