.product-list__row {
  justify-content: center;
  @media (max-width: $medium-screen) {
    padding: 0 2em;
  }
  @media (max-width: $small-screen) {
    padding: 0;
  }
}


.product {
  width: 25%;
  padding: 0 .3em .6em;
  min-width: 270px;
  @include cta-overlay(product);
}

.product__single {
  padding: 0 .3em .6em;
  min-width: 270px;
  @include cta-overlay(product);
}

.product__single-ctas {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  > .hollow-button {
    min-width: 150px;
    font-size: 15px;
  }
}

.product__column {
  max-width: 15em;
  min-width: 13em;
  @media (max-width: $small-screen) {
    width: 50%;
  }
  @media (max-width: $xsmall-screen) {
    width: 100%;
  }
}

.product-list {
  padding: 0 5em 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: $small-screen) {
    padding: 0 1em 2em;
  }
}

.product-inner {
  display: flex;
  flex-wrap: wrap;
}

.product__image {
  @include bordered-box;
  vertical-align: top;
  width: 50%;
  padding: 10px;
  display: inline-block;
  img {
    max-width: initial;
  }
  .image-square {
    height: 100%;
  }
  @media (max-width: $small-screen) {
    width: 100%;
  }
}

.product__content-description {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__content {
  width: 50%;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: $small-screen) {
    width: 100%;
  }
}

.product__content-meta {
  text-align: center;
  padding: 10px;
  background: #eeeeee;
  position: relative;
}
