{{>organisms-nav}} {{>molecules-split-hero}}
<div class="content">
  <div class="content__header">
    {{>atoms-serif-header}}
  </div>
  {{> templates-col-2}} {{> templates-col-2}}
</div>
{{>molecules-hero}} {{>molecules-hero}} {{>organisms-instagram-feed}} {{>organisms-footer}}