.card {
  @include aspect-ratio(4, 7);
  @include bordered-box;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.card-content__header {
  text-align: center;
  padding-bottom: 10px;
  * {
    font-size: 20px;
  }
}

.card-content__text {
  text-align: center;
  padding: 20px 5px;
}



.card-content__cta {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px;
}
