.hero {
  position: relative;
  color: #fff;
  height: 100vh;

  ul, li {
    width: 100%;
    height: 100%;
  }
}

.hero-content {
  @include vertically-center-content(50%);
  padding: 0 12em;
  z-index: 10;
  @media (max-width: $xsmall-screen) {
    margin-bottom: 10px;
  }
  @media (max-width: $small-screen) {
    padding: 0 2em;
  }
  &-first-line {
    margin-bottom: 20px;
    @media (max-width: $small-screen) {
      margin-bottom: 10px;
      padding: 0 1em;
    }
  }

  &-cta {
    margin-top: 40px;
    * {
      color: #fff;
      border-color: #fff;
    }
  }
}

.hero-controls {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  width: 6em;
  margin: 0 auto;
  padding: 1em;

  &__left, &__right {
    cursor: pointer;
    transition: .25s;
    &:hover {
      opacity: .8;
    }
  }
}
