.route-info {
  position: absolute;
  top: 10%;
  left: 20px;
  width: 18em;
  height: 22em;
  background: #fff;
  border: 5px solid #bbbaba;
  border-radius: 3px;
  padding: 1em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .5s;
  opacity: 0;
  transform: translateY(-10px);
}

.route-info--visible {
  transform: translateY(0);
  opacity: 1;
}

.route-info__row {
  display: flex;
  color: #bbbaba;
}

.route-info__title {
  font-weight: bold;
  padding: 0 0 3px;
}

.route-info__name {
  text-align: center;
  font-weight: bold;
  color: #5e584a;
  font-size: 20px;
  padding-bottom: 2em;
}

.route-info__description {
  flex-direction: column;
  text-transform: none;
}


.route-info__content--inline {
  padding: 0 1em 1em;
  text-transform: none;
  font-size: 15px;
}
