.welcome {
  background: #ececec url("../images/watermark.png") no-repeat center;
  background-size: 17%;
  height: 100vh;
  position: relative;
  &__content {
    @include vertically-center-content;
    padding: 0 20%;
    color: #5e584a;
    > *  {

      line-height: 40px;

    }
  }

  .underline {
    position: absolute;
    bottom: 20%;
    width: 61%;
    border-color: #5e584a;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
