<div class="split-hero">
  <div class="split-hero-top">
    {{> atoms-image-3-1 }}
    <div class="split-hero-top__content">
      <div class="hero-content-first-line">
        {{> atoms-header }}
      </div>
      {{> atoms-italic-header }}
    </div>
  </div>
  <div class="welcome">
    <div class="split-hero-bottom__content">
      {{> atoms-italic-header }} {{> atoms-underline }}
    </div>
  </div>
</div>