<div class="split-hero">
  <div class="split-hero-top">
    <div class="image-3-1">
      <img src="/images/casale.jpg" alt="" class="parallax">
    </div>

    <div class="split-hero-top__content">
      <div class="hero-content-first-line">
        <h1 class="header">APPARTAMENT "riva del lago"</h1>

      </div>
      <h1 class="italic-header">Few steps from the lake</h1>

    </div>
  </div>
  <div class="welcome">
    <div class="split-hero-bottom__content">
      <h1 class="italic-header">Few steps from the lake</h1>

      <div class="underline"></div>

    </div>
  </div>
</div>