<ul class="product-grid">
  <li class="product-grid__item">{{>molecules-card}}</li>
  <li class="product-grid__item">{{>molecules-card}}</li>
  <li class="product-grid__item">{{>molecules-card}}</li>
  <li class="product-grid__item">{{>molecules-card}}</li>
  <li class="product-grid__item">{{>molecules-card}}</li>
  <li class="product-grid__item">{{>molecules-card}}</li>
  <li class="product-grid__item">{{>molecules-card}}</li>
  <li class="product-grid__item">{{>molecules-card}}</li>
</ul>
