<div class="meta">
  <div class="meta-group">
    <div class="bold-text">
      Quality
    </div>

    <div class="small-text">
      Quality
    </div>

  </div>

  <div class="meta-group">
    <div class="bold-text">
      Quality
    </div>

    <div class="small-text">
      Quality
    </div>

  </div>

  <div class="meta-group">
    <div class="bold-text">
      Quality
    </div>

    <div class="small-text">
      Quality
    </div>

  </div>

</div>