@mixin bordered-box {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid $GREY;
}
@mixin thick-bordered-box {
  min-width: 50px;
  min-height: 50px;
  border: 3px solid $GREY;
  border-radius: 4px;
}
