@mixin base-button($color) {
  font-family: arial, sans-serif;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  color: $color;
  padding: 10px;
  font-size: 20px;
  min-width: 250px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  @media (max-width: $small-screen) {
    width: 130px;
  }
}

@mixin button($color: #FFF, $background-color: #c5e09b) {
  background-color: $background-color;
  border: 5px solid $background-color;
  @include base-button($color);
}

@mixin hollow-button($color: #000) {
  background: transparent;
  border: 5px solid $color;
  text-decoration: none;
  @include base-button($color);
  &:hover {
    @include button;
  }
}

@mixin cta-overlay($namespace) {
  outline: none;
  cursor: pointer;
  .#{$namespace}__cta {
    padding-bottom: .5em;
    opacity: 0;
    transition: .25s;
    transform: translateY(-5px);
    * {
      &, &:hover, &:active, &:focus {
        color: #fff;
        border-color: #fff;
        min-width: 200px;
        font-size: 16px;
      }

      &:hover, &:active, &:focus {
        background: #fff;
        color: #000;
      }
    }
  }
  &__ctas {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.32);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &:hover, &:focus {
    .#{$namespace}__ctas {
      width: 100%;
      height: 100%;
    }
    .#{$namespace}__cta {
      transition-delay: .25s;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

