@mixin bold-text {
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin uppercase-text {
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
@mixin small-text {
  font-size: 11px;
  font-family: arial, sans-serif;
  font-weight: normal;
}

@mixin italic-text {
  font-size: 15px;
  font-family: garmond, serif;
  font-weight: normal;
  font-style: italic;
}

@mixin italic-bold-text {
  @include italic-text;
  font-weight: bold;
}

@mixin italic-small-text {
  @include small-text;
  font-family: garmond, serif;
  font-style: italic;
}
