@mixin base-header($font-size: 34px) {
  margin: 10px 0;
  font-size: $font-size;
  text-transform: uppercase;
  line-height: $font-size;
  @media (max-width: $small-screen) {
    font-size: $font-size - 7;
  }
  @media (max-width: $xsmall-screen) {
    font-size: $font-size - 10;
  }
}
