@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin vertically-center-content($offset-top: 50%) {
  position: absolute;
  top: $offset-top;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}

