$font-size: 50px;
.header {
  font-family: telegrafico, sans-serif;
  font-weight: normal;
  @include base-header($font-size);
  @media (max-width: $xsmall-screen) {
    font-size: $font-size - 20;
  }
}
