.image-16-8 {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.image-3-1 {
  @include aspect-ratio(3.5, 1);
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.image-square {
  @include aspect-ratio(5, 5);
  cursor: pointer;
  img {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
