$side-padding: 4em;
.leaf-header {
  position: relative;
  font-family: garmond, serif;
  @include base-header;
  font-weight: normal;
  padding: .5em $side-padding;
  text-align: center;
  background: url("../images/left-leaf.png") no-repeat left, url("../images/right-leaf.png") no-repeat right;
  height: 65px;
  &:after {
    content: '';
    position: absolute;
    width: calc(100% - #{($side-padding * 2)});
    height: 100%;
    border-bottom: 1px solid #000;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @media (max-width: $small-screen) {
    padding: 0;
    background: none;
    height: initial;
    &:after {
      display: none;
    }
  }
}

