@mixin point {
  width: 10px;
  height: 10px;
  background: #c5e09b;
  border-radius: 50%;
  margin: 10px;
  display: block;
  cursor: pointer;
  transform: scale(1);
  transition: .25s ease-out;
}

.pagination {
  position: fixed;
  height: 50%;
  top: 65%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 10px;
  z-index: 1;
  &__point {
    @include point;
    &--inactive {
      transform: scale(.7);
      opacity: .7;
    }
    &--active {
      opacity: 1;

      transform: scale(1.1);
    }
  }
}

