$sprite: '../images/social-icons.png';
.facebook-icon {
  display: block;
  background: url($sprite) no-repeat 0 -3px;
  width: 35px;
  height: 34px;
}

.twitter-icon {
  display: block;
  background: url($sprite) no-repeat -58px -6px;
  width: 34px;
  height: 28px;
}


.instagram-icon {
  display: block;
  background: url($sprite) no-repeat -115px -3px;
  width: 34px;
  height: 34px;
}

.pinterest-icon {
  display: block;
  background: url($sprite) no-repeat -173px 0;
  width: 32px;
  height: 39px;
}

.linkedin-icon {
  display: block;
  background: url($sprite) no-repeat -231px -6px;
  width: 30px;
  height: 29px;
}

.youtube-icon {
  display: block;
  background: url($sprite) no-repeat -286px -7px;
  width: 35px;
  height: 25px;
}

.googleplus-icon {
  display: block;
  background: url($sprite) no-repeat -344px -7px;
  width: 32px;
  height: 23px;
}
