.tab {
  height: 50px;
  min-width: 100px;
  line-height: 50px;
  background: $BLACK;
  color: $DARK_GREY;
  border-right: 2px solid $DARK_GREY;
  padding: 0 .5em;
  @include bold-text;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  &:hover {
    background: lighten($BLACK, 10%);
  }
  &:active {
    background: lighten($BLACK, 20%);
  }
}
